<form  class="form-signin" style="margin-left:40%; margin-right:40%;" method="post" action="#URL#Acesso/validar">
  <center>
    <img src="#URL#public/img/logo.png" width="90%" height="auto"  alt=""/>
  </center>
  <center>
    <h2 class="form-signin-heading">Acesso Restrito</h2>
  </center>
  <input type="text" name="usuario" maxlength="50" class="input-block-level" placeholder="Login" />
  <input type="password" name="senha" maxlength="50" class="input-block-level" placeholder="Senha" />
  <input class="btn btn-large btn-primary" type="submit" value="Entrar" />
</form>