<div id="menu" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="brand">Sistema de Academia</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#URL#Cliente/show">Cliente</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#URL#Agenda/show">Agenda</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Outros <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
              <li><a tabindex="-1" href="#URL#Professor/show">Professor</a></li>
              <li><a tabindex="-1" href="#URL#Usuario/show">Usuário</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatório  <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
              <li><a tabindex="-1" href="#URL#Relatorio/cliente">Cliente</a></li>
              <li><a tabindex="-1" href="#URL#Relatorio/agenda">Agenda</a></li>
              <li><a tabindex="-1" href="#URL#Relatorio/mensalidade">Mensalidade</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li><a href="#URL#Acesso/logout">Sair</a></li>
          <li class="divider-vertical"></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>
