<ul class="breadcrumb" style="margin-bottom:10px;">
  <li class="active"><a href="#URL#Usuario/show">Usuario</a></li>
  <li><span class="divider">/</span></li>
  <li class="active">#TITULO#</li>
</ul>
<form id="formularioUsuario" class="form-horizontal" action="#ACTION#" method="post">
  <div class="control-group">
    <label class="control-label" for="nome">Nome:</label>
    <div class="controls">
      <input  type="text" id="nome" name="nome" value="#NOME#" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="login">Login: </label>
    <div class="controls">
      <input type="text" id="login" name="login" value="#LOGIN#" >
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="senha">Senha: </label>
    <div class="controls">
      <input type="password" id="senha" name="senha" value="#SENHA#" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls"> <a class="btn btn-small" onMouseDown="showSenha('senha');" onMouseUp="showSenha('senha');"><i class="icon-eye-open"></i> Mostrar Senha</a> </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-small" onClick="return verifica()">Concluir</button>
      <button type="button" class="btn btn-small" onclick="history.go(-1)">Cancelar</button>
    </div>
  </div>
</form>
